.post {
	padding: 16px;
}

.comment {
	padding: 20px;
}

.replies {
	padding-left: 20px;
}
form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
form div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #fff;
	padding: 16px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
